<h1><center> Visualization <br><br>
    <center> Wendy Shi

## TOC

- [Preparation](#Preparation)
- [Census Block Group Shape File](#Census-Block-Group-Shape-File)
- [Individual Trajectory Generation](#Individual-Trajectory-Generation)
- [Home Location](#Home-location)

# Preparation

In [2]:
#skmob
import skmob
import geopandas as gpd
from skmob.models.epr import DensityEPR
from skmob.measures.individual import home_location
from skmob.measures.individual import jump_lengths

#standard
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.integrate import odeint
from scipy.interpolate import interp1d
import scipy.stats as stats

#visualization
import seaborn as sns

#Geopandas related
import fiona
from shapely.geometry import shape

In [3]:
shape_file = pd.read_csv("../Data/us_shapefile_county.csv")
shape_file.head(3)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,State_1,Alpha code,Region,Division,CDC region,FIPS code,2013 code,U/R,pop2020,pop2021
0,48301,48,301,Loving,County,668.925,Texas,TX,South,West South Central,6.0,48301,6,R,67.0,57.0
1,48269,48,269,King,County,910.872,Texas,TX,South,West South Central,6.0,48269,6,R,270.0,258.0
2,48261,48,261,Kenedy,County,1458.329,Texas,TX,South,West South Central,6.0,48261,5,R,346.0,340.0

## Subsetting

In [4]:
#Load data
node_dict = pd.read_csv("../Data/nodes_considered.csv")

#Standardize GEOID
node_dict["GEO_ID"] = node_dict["GEO_ID"].apply(lambda x: f"{int(x):05d}") #turn GEOID into 6 digit format

#rename column
rename = {'GEO_ID' : 'GEOID'}
node_dict = node_dict.rename(columns = rename)

#State ID
node_dict['State'] = node_dict['GEOID'].str[:2]
node_dict.head(3)

   index  GEOID State
0      0  01001    01
1      1  01003    01
2      2  01005    01

In [5]:
NY = node_dict[node_dict['State'] == '36']
print(NY.shape)
NY.head(3)

(61, 3)

      index  GEOID State
1318   1318  36001    36
1319   1319  36003    36
1320   1320  36005    36

In [6]:
NY_name_id_pop = shape_file[(shape_file["STATE"] == 36) & (shape_file["pop2020"] > 11000)] 

rename = {"GEO_ID" : "GEOID"}
NY_name_id_pop = NY_name_id_pop.rename(columns = rename)
NY_name_id_pop = NY_name_id_pop[['GEOID', 'NAME','LSAD','STATE','State_1','pop2020']]
print(NY_name_id_pop.shape)
NY_name_id_pop.head()

(61, 6)

      GEOID       NAME    LSAD  STATE   State_1  pop2020
1192  36097   Schuyler  County     36  New York  17857.0
1499  36123      Yates  County     36  New York  24709.0
1570  36049      Lewis  County     36  New York  26538.0
1678  36095  Schoharie  County     36  New York  29720.0
1778  36099     Seneca  County     36  New York  33715.0

In [7]:
NY_name_id_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 1192 to 3100
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GEOID    61 non-null     int64
 1   NAME     61 non-null     object
 2   LSAD     61 non-null     object
 3   STATE    61 non-null     int64
 4   State_1  61 non-null     object
 5   pop2020  61 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.3+ KB

In [8]:
NY_name_id_pop['GEOID'] = NY_name_id_pop['GEOID'].astype(str)
county_list = NY_name_id_pop['GEOID'].tolist()
print(len(county_list))

61

#

# Census Block Group Shape File

## Census Block Group

In [6]:
data = []

with fiona.open("tl_2020_36_bg/tl_2020_36_bg.shp") as src:
    for feature in src:
        row = dict(feature['properties'])        # convert to dict
        row['geometry'] = shape(feature['geometry'])  # shapely geometry
        data.append(row)

ny_bg_df = pd.DataFrame(data)

ny_bg_sf = gpd.GeoDataFrame(ny_bg_df, geometry='geometry')
ny_bg_sf.head(3)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,019,101000,3,360191010003,Block Group 3,G5030,S,363407,0,+44.6938385,-073.4714736,"POLYGON ((-73.47596 44.69761, -73.47489 44.697..."
1,36,019,100200,1,360191002001,Block Group 1,G5030,S,57385113,312716,+44.8827953,-073.4907087,"POLYGON ((-73.55525 44.87744, -73.55521 44.878..."
2,36,019,102200,3,360191022003,Block Group 3,G5030,S,585561,0,+44.6798483,-073.4557185,"POLYGON ((-73.46084 44.68186, -73.46079 44.682..."

In [7]:
#url = "https://www2.census.gov/geo/tiger/TIGER2021/BG/tl_2021_35_bg.zip"
#ny_bg_sf = gpd.read_file(url)
#ny_bg_sf = gpd.read_file("tl_2020_36_bg/tl_2020_36_bg.shp")
print(ny_bg_sf.columns)
print(ny_bg_sf.shape)
ny_bg_sf.head(1)

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'GEOID', 'NAMELSAD',
       'MTFCC', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON',
       'geometry'],
      dtype='object')
(16070, 13)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,019,101000,3,360191010003,Block Group 3,G5030,S,363407,0,+44.6938385,-073.4714736,"POLYGON ((-73.47596 44.69761, -73.47489 44.697..."

## Test: Accquiring Census Block Group Population Data


- For New York census block group population data specifically, you can follow these steps:

- Go to https://data.census.gov/
- In the search bar, type "population"
- Under "Geography," select "Block Group"
- Then select "New York" as the state
- Choose the counties and block groups you're interested in
- Select the appropriate ACS 5-Year Estimates table (the latest available would be best)

For population data specifically, look for table B01003 "Total Population" which gives you the basic population count.

If you want to get Decennial Census Data, Do the same thing and look for Decennial Census, look for P1 Data

In [114]:
bg_pop = pd.read_csv("NY_BG/ACSDT5Y2020.B01003-Data.csv")
bg_pop = bg_pop.drop(index=bg_pop.index[0]) #drop the first row
#bg_pop = pd.read_csv("DECENNIALPL2020/DECENNIALPL2020.P1-Data.csv", low_memory=False)
#bg_pop = bg_pop.drop(index=[0, 1])
#print(bg_pop.columns)
print(bg_pop.shape)
bg_pop.head(3)

(16070, 5)

,GEO_ID,NAME,B01003_001E,B01003_001M,Unnamed: 4
1,1500000US360010001001,"Block Group 1, Census Tract 1, Albany County, ...",873,226,NaN
2,1500000US360010001002,"Block Group 2, Census Tract 1, Albany County, ...",1156,326,NaN
3,1500000US360010002011,"Block Group 1, Census Tract 2.01, Albany Count...",542,331,NaN

In [115]:
bg_pop = bg_pop[['GEO_ID', 'B01003_001E']].copy()
rename = {'B01003_001E' : 'Population'}
#bg_pop = bg_pop[['GEO_ID', 'P1_001N']].copy()
#rename = {'P1_001N' : 'Population'}
bg_pop  = bg_pop.rename(columns = rename)
bg_pop.head(3)

                  GEO_ID Population
1  1500000US360010001001        873
2  1500000US360010001002       1156
3  1500000US360010002011        542

In [116]:
bg_pop['Population'] = bg_pop['Population'].astype(int)
sum_value = bg_pop['Population'].sum()
print(sum_value)

19514849

In [117]:
bg_pop['GEOID'] = bg_pop['GEO_ID'].str[-12:]
bg_pop.head(3)

                  GEO_ID  Population         GEOID
1  1500000US360010001001         873  360010001001
2  1500000US360010001002        1156  360010001002
3  1500000US360010002011         542  360010002011

In [118]:
bg_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16070 entries, 1 to 16070
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      16070 non-null  object
 1   Population  16070 non-null  int64
 2   GEOID       16070 non-null  object
dtypes: int64(1), object(2)
memory usage: 376.8+ KB

In [119]:
bg_pop = bg_pop[['GEOID', 'Population']].copy()
bg_pop['COUNTY'] = bg_pop['GEOID'].str[:5]
bg_pop_new = bg_pop[bg_pop['COUNTY'].isin(county_list)]
print(bg_pop_new.shape)
bg_pop_new.head()

(16062, 3)

          GEOID  Population COUNTY
1  360010001001         873  36001
2  360010001002        1156  36001
3  360010002011         542  36001
4  360010002012        1674  36001
5  360010002013        1047  36001

## Merge Data

In [120]:
tessellation = pd.merge(ny_bg_sf, bg_pop_new, on = 'GEOID', how = 'inner')
print(tessellation.shape)
tessellation.head(3)

(16062, 15)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,Population,COUNTY
0,36,019,101000,3,360191010003,Block Group 3,G5030,S,363407,0,+44.6938385,-073.4714736,"POLYGON ((-73.47596 44.69761, -73.47489 44.697...",859,36019
1,36,019,100200,1,360191002001,Block Group 1,G5030,S,57385113,312716,+44.8827953,-073.4907087,"POLYGON ((-73.55525 44.87744, -73.55521 44.878...",1141,36019
2,36,019,102200,3,360191022003,Block Group 3,G5030,S,585561,0,+44.6798483,-073.4557185,"POLYGON ((-73.46084 44.68186, -73.46079 44.682...",815,36019

In [121]:
len(tessellation['COUNTYFP'].unique())

61

#

# Individual Trajectory Generation

In [122]:
tessellation = tessellation[['GEOID', 'Population', 'geometry']].copy()
tessellation = tessellation.loc[tessellation['Population'] != 0].copy()
print(tessellation.info())
tessellation.head(3)

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 15612 entries, 0 to 16061
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEOID       15612 non-null  object
 1   Population  15612 non-null  int64
 2   geometry    15612 non-null  geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 487.9+ KB
None

          GEOID  Population                                           geometry
0  360191010003         859  POLYGON ((-73.47596 44.69761, -73.47489 44.697...
1  360191002001        1141  POLYGON ((-73.55525 44.87744, -73.55521 44.878...
2  360191022003         815  POLYGON ((-73.46084 44.68186, -73.46079 44.682...

## Density EPR

In [96]:
tessellation.iloc[9,2]

In [145]:
start_time = pd.to_datetime('2020/03/01 00:00:00')
end_time = pd.to_datetime('2020/03/30 23:59:59')
depr = DensityEPR()
tdf = depr.generate(start_time, 
                    end_time, 
                    tessellation, 
                    relevance_column='Population', #Take population into account
                    n_agents=10000, 
                    show_progress=True)

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/geopandas/geoseries.py:574: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
  0%|                                                 | 0/10000 [00:00<?, ?it/s]/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
  return np.power(x, exponent)
100%|| 10000/10000 [45:55<00:00,  3.63it/s]

In [146]:
tdf.to_csv("NY_4Week_10000_realpop.csv")

#

#

# Visualizations

In [151]:
#data = ditras_tdf
data = tdf
person1 = data[data["uid"] == 557].copy().reset_index()
person1 = person1.drop(columns = 'index')
print(person1.shape)
person1.head(5)

(462, 4)

   uid                   datetime        lat        lng
0  557 2020-03-01 00:00:00.000000  42.930156 -78.859749
1  557 2020-03-01 01:15:28.197694  43.007559 -78.887213
2  557 2020-03-01 01:53:00.948465  43.010462 -78.881595
3  557 2020-03-01 02:17:54.339770  42.930156 -78.859749
4  557 2020-03-01 03:22:33.178543  42.917903 -78.878670

In [152]:
plotting_data = skmob.TrajDataFrame(person1, latitude='lat', datetime='datetime', user_id='uid')

plotting_data.plot_trajectory(
    zoom=12,
    weight=3,
    opacity=0.9,
    max_users = 1,
    max_points=None, #trajectories will be down-sampled to have at most `max_points` points.
    tiles='OpenStreetMap'  # Built-in tile set, no attribution needed
)

#

# Home location

In [153]:
# now create a TrajDataFrame from the pandas DataFrame
#tdf = skmob.TrajDataFrame(data, latitude='lat', datetime='datetime', user_id='uid')
print(tdf.shape)
tdf.head(5)

(4690333, 4)

   uid                   datetime        lat        lng
0    1 2020-03-01 00:00:00.000000  40.735878 -73.899228
1    1 2020-03-01 06:25:08.573311  40.737657 -73.907013
2    1 2020-03-01 08:04:00.153349  40.735878 -73.899228
3    1 2020-03-01 09:17:51.635022  40.743086 -73.880599
4    1 2020-03-01 10:55:47.394269  40.735878 -73.899228

In [154]:
hl_df = home_location(tdf)
hl_df.head(5)

100%|| 10000/10000 [00:06<00:00, 1564.39it/s]

   uid        lat        lng
0    1  40.735878 -73.899228
1    2  43.192236 -77.571473
2    3  41.008568 -73.733575
3    4  42.101347 -77.964181
4    5  40.776276 -73.958993

In [155]:
hl_df.to_csv("Home_location_4Week_10000_NY_realpop.csv")

#