<h1><center> Visualization <br><br>
    <center> Wendy Shi

## TOC

- [Preparation](#Preparation)
- [Home Location](#Home-location)

# Preparation

In [1]:
#skmob
import skmob
import geopandas as gpd
from skmob.models.epr import DensityEPR
from skmob.measures.individual import home_location
from skmob.measures.individual import jump_lengths

#standard
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.integrate import odeint
from scipy.interpolate import interp1d
import scipy.stats as stats

#visualization
import seaborn as sns

#Geopandas related
import fiona
from shapely.geometry import shape

## Subsetting

In [2]:
#Load data
node_dict = pd.read_csv("../../Data/nodes_considered.csv")

#Standardize GEOID
node_dict["GEO_ID"] = node_dict["GEO_ID"].apply(lambda x: f"{int(x):05d}") #turn GEOID into 6 digit format

#rename column
rename = {'GEO_ID' : 'GEOID'}
node_dict = node_dict.rename(columns = rename)

#State ID: Add a new column
node_dict['State'] = node_dict['GEOID'].str[:2]
node_dict.head(3)

   index  GEOID State
0      0  01001    01
1      1  01003    01
2      2  01005    01

In [4]:
#print out the number of States that we want
WI = node_dict[node_dict['State'] == '55']
print(WI.shape)
WI.head(3)

(67, 3)

      index  GEOID State
2245   2245  55001    55
2246   2246  55003    55
2247   2247  55005    55

## US Shape File

In [5]:
shape_file = pd.read_csv("../../Data/us_shapefile_county.csv")
shape_file.head(3)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,State_1,Alpha code,Region,Division,CDC region,FIPS code,2013 code,U/R,pop2020,pop2021
0,48301,48,301,Loving,County,668.925,Texas,TX,South,West South Central,6.0,48301,6,R,67.0,57.0
1,48269,48,269,King,County,910.872,Texas,TX,South,West South Central,6.0,48269,6,R,270.0,258.0
2,48261,48,261,Kenedy,County,1458.329,Texas,TX,South,West South Central,6.0,48261,5,R,346.0,340.0

In [7]:
#Check how many state does NY has in total
WI_sub = shape_file[shape_file['State_1'] == 'Wisconsin']
print(WI_sub.shape)
WI_sub.head(3)

(72, 16)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,State_1,Alpha code,Region,Division,CDC region,FIPS code,2013 code,U/R,pop2020,pop2021
263,55078,55,78,Menominee,County,357.608,Wisconsin,WI,Midwest,East North Central,5.0,55078,5,R,4255.0,4289.0
283,55037,55,37,Florence,County,488.195,Wisconsin,WI,Midwest,East North Central,5.0,55037,5,R,4556.0,4593.0
400,55051,55,51,Iron,County,758.174,Wisconsin,WI,Midwest,East North Central,5.0,55051,6,R,6128.0,6178.0

In [9]:
WI_name_id_pop = shape_file[(shape_file["STATE"] == 55) & (shape_file["pop2020"] > 11000)] 

rename = {"GEO_ID" : "GEOID"}
WI_name_id_pop = WI_name_id_pop.rename(columns = rename)
WI_name_id_pop = WI_name_id_pop[['GEOID', 'NAME','LSAD','STATE','State_1','pop2020']]
WI_name_id_pop['GEOID'] = WI_name_id_pop['GEOID'].apply(lambda x: f"{int(x):05d}") 
print(IL_name_id_pop.shape)
WI_name_id_pop.head()

(67, 6)

      GEOID       NAME    LSAD  STATE    State_1  pop2020
926   55011    Buffalo  County     55  Wisconsin  13320.0
964   55099      Price  County     55  Wisconsin  14015.0
980   55107       Rusk  County     55  Wisconsin  14168.0
1062  55077  Marquette  County     55  Wisconsin  15584.0
1084  55003    Ashland  County     55  Wisconsin  15977.0

In [10]:
WI_name_id_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 926 to 3050
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GEOID    67 non-null     object
 1   NAME     67 non-null     object
 2   LSAD     67 non-null     object
 3   STATE    67 non-null     int64
 4   State_1  67 non-null     object
 5   pop2020  67 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.7+ KB

In [21]:
WI_name_id_pop['GEOID'] = IL_name_id_pop['GEOID'].astype(str)
#This is the subsetting list!!!-----county list include county of pop less than 11,000---
county_list = WI_name_id_pop['GEOID'].tolist() 
print(len(county_list))

67

#

# Population Districts 
- Tracts, Block Groups and Blocks

## Census Block Group

In [22]:
data = []

with fiona.open("tl_2020_55_bg/tl_2020_55_bg.shp") as src:
    for feature in src:
        row = dict(feature['properties'])        # convert to dict
        row['geometry'] = shape(feature['geometry'])  # shapely geometry
        data.append(row)

il_bg_df = pd.DataFrame(data)

il_bg_sf = gpd.GeoDataFrame(il_bg_df, geometry='geometry')
il_bg_sf.head(3)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,55,133,201600,3,551332016003,Block Group 3,G5030,S,10228980,48334,+42.9513525,-088.1709505,"POLYGON ((-88.19888 42.93020, -88.19884 42.930..."
1,55,133,201504,3,551332015043,Block Group 3,G5030,S,1420056,3228,+42.9237883,-088.0768096,"POLYGON ((-88.08879 42.92421, -88.08866 42.924..."
2,55,133,202500,4,551332025004,Block Group 4,G5030,S,325017,0,+43.0040900,-088.2169267,"POLYGON ((-88.22182 43.00307, -88.22180 43.003..."

In [13]:
#url = "https://www2.census.gov/geo/tiger/TIGER2021/BG/tl_2021_35_bg.zip"
#ny_bg_sf = gpd.read_file(url)
#print(ny_bg_sf.columns)
#print(ny_bg_sf.shape)
#ny_bg_sf.head(1)

## Test: Accquiring Census Block Group Population Data

### Instruction generated by ChatGTP:

- For New York census block group population data specifically, you can follow these steps:

- Go to https://data.census.gov/
- In the search bar, type "population"
- Under "Geography," select "Block Group"
- Then select "Washington" as the state
- Choose the counties and block groups you're interested in
- Select the appropriate ACS 5-Year Estimates table (the latest available would be best)

For population data specifically, look for table B01003 "Total Population" which gives you the basic population count.

If you want to get Decennial Census Data, Do the same thing and look for Decennial Census, look for P1 Data

In [23]:
bg_pop_raw = pd.read_csv("ACSDT5Y2020/ACSDT5Y2020.B01003-Data.csv")
bg_pop_raw = bg_pop_raw.drop(index=[0, 1]) #Drop the first row: first row is the total state population
print(bg_pop_raw.shape)
bg_pop_raw.head(3)

(4691, 5)

,GEO_ID,NAME,B01003_001E,B01003_001M,Unnamed: 4
2,1500000US550019501002,"Block Group 2, Census Tract 9501, Adams County...",731,147,NaN
3,1500000US550019501003,"Block Group 3, Census Tract 9501, Adams County...",494,113,NaN
4,1500000US550019501004,"Block Group 4, Census Tract 9501, Adams County...",611,143,NaN

In [24]:
#After inspect the dataframe, we can observe that there's also state level population included
#So we drop them
#bg_pop = bg_pop_raw.iloc[39:].copy()
#bg_pop.head(3)
bg_pop = bg_pop_raw

In [25]:
bg_pop = bg_pop[['GEO_ID', 'B01003_001E']].copy()
rename = {'B01003_001E' : 'Population'}
bg_pop  = bg_pop.rename(columns = rename)
bg_pop.head(3)

                  GEO_ID Population
2  1500000US550019501002        731
3  1500000US550019501003        494
4  1500000US550019501004        611

In [26]:
bg_pop['Population'] = bg_pop['Population'].astype(int)
sum_value = bg_pop['Population'].sum()
print(sum_value)

5805843

In [27]:
bg_pop['GEOID'] = bg_pop['GEO_ID'].str[-12:]
bg_pop.head(3)

                  GEO_ID  Population         GEOID
2  1500000US550019501002         731  550019501002
3  1500000US550019501003         494  550019501003
4  1500000US550019501004         611  550019501004

In [28]:
bg_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4691 entries, 2 to 4692
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      4691 non-null   object
 1   Population  4691 non-null   int64
 2   GEOID       4691 non-null   object
dtypes: int64(1), object(2)
memory usage: 110.1+ KB

In [29]:
bg_pop = bg_pop[['GEOID', 'Population']].copy()
bg_pop['COUNTY'] = bg_pop['GEOID'].str[:5]
bg_pop_new = bg_pop[bg_pop['COUNTY'].isin(county_list)]
print(bg_pop_new.shape)
bg_pop_new.head()

(4654, 3)

          GEOID  Population COUNTY
2  550019501002         731  55001
3  550019501003         494  55001
4  550019501004         611  55001
5  550019502011         513  55001
6  550019502012         711  55001

In [30]:
print(len(bg_pop_new['COUNTY'].unique()))

67

## Merge Data

In [31]:
tessellation = pd.merge(il_bg_sf, bg_pop_new, on = 'GEOID', how = 'inner')
print(tessellation.shape)
tessellation.head(3)

(4654, 15)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,Population,COUNTY
0,55,133,201600,3,551332016003,Block Group 3,G5030,S,10228980,48334,+42.9513525,-088.1709505,"POLYGON ((-88.19888 42.93020, -88.19884 42.930...",1987,55133
1,55,133,201504,3,551332015043,Block Group 3,G5030,S,1420056,3228,+42.9237883,-088.0768096,"POLYGON ((-88.08879 42.92421, -88.08866 42.924...",1805,55133
2,55,133,202500,4,551332025004,Block Group 4,G5030,S,325017,0,+43.0040900,-088.2169267,"POLYGON ((-88.22182 43.00307, -88.22180 43.003...",764,55133

In [32]:
len(tessellation['COUNTYFP'].unique())

67

In [37]:
#county_list = tessellation['COUNTYFP'].unique().tolist()#
#county_list

#

# Individual Trajectory Generation

In [33]:
tessellation = tessellation[['GEOID', 'Population', 'geometry']].copy()
tessellation = tessellation.loc[tessellation['Population'] != 0].copy()
print(tessellation.info())
tessellation.head(3)

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 4634 entries, 0 to 4653
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEOID       4634 non-null   object
 1   Population  4634 non-null   int64
 2   geometry    4634 non-null   geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 144.8+ KB
None

          GEOID  Population                                           geometry
0  551332016003        1987  POLYGON ((-88.19888 42.93020, -88.19884 42.930...
1  551332015043        1805  POLYGON ((-88.08879 42.92421, -88.08866 42.924...
2  551332025004         764  POLYGON ((-88.22182 43.00307, -88.22180 43.003...

## Density EPR

In [34]:
tessellation.iloc[6,2]

### This Takes 3 hours to run

In [41]:
start_time = pd.to_datetime('2020/03/01 00:00:00')
end_time = pd.to_datetime('2020/03/30 23:59:59')
depr = DensityEPR()
tdf = depr.generate(start_time, 
                    end_time, 
                    tessellation, 
                    relevance_column='Population', #Take population into account
                    n_agents=10000, 
                    show_progress=True)

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/geopandas/geoseries.py:574: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
  0%|                                                 | 0/10000 [00:00<?, ?it/s]/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
  return np.power(x, exponent)
100%|| 10000/10000 [15:20<00:00, 10.87it/s]

In [42]:
tdf.to_csv("WI_4Week_10000_realpop.csv")

#

#

# Visualizations

In [43]:
#data = ditras_tdf
data = tdf
person1 = data[data["uid"] == 4].copy().reset_index()
person1 = person1.drop(columns = 'index')
print(person1.shape)
person1.head(5)

(441, 4)

   uid                   datetime        lat        lng
0    4 2020-03-01 00:00:00.000000  44.043499 -88.613107
1    4 2020-03-01 01:14:14.842100  44.289490 -88.547518
2    4 2020-03-01 01:34:23.841519  44.043499 -88.613107
3    4 2020-03-01 03:29:00.257586  44.289490 -88.547518
4    4 2020-03-01 04:18:40.196134  44.307562 -88.586690

In [44]:
plotting_data = skmob.TrajDataFrame(person1, latitude='lat', datetime='datetime', user_id='uid')

plotting_data.plot_trajectory(
    zoom=12,
    weight=3,
    opacity=0.9,
    max_users = 1,
    max_points=None, #trajectories will be down-sampled to have at most `max_points` points.
    tiles='OpenStreetMap'  # Built-in tile set, no attribution needed
)

#

# Home location

In [45]:
# now create a TrajDataFrame from the pandas DataFrame
#tdf = skmob.TrajDataFrame(data, latitude='lat', datetime='datetime', user_id='uid')
print(tdf.shape)
tdf.head(5)

(4690626, 4)

   uid                   datetime        lat        lng
0    1 2020-03-01 00:00:00.000000  44.249624 -88.409313
1    1 2020-03-01 00:28:14.055734  44.247095 -88.418595
2    1 2020-03-01 00:59:01.440932  44.249624 -88.409313
3    1 2020-03-01 01:23:36.368069  44.247095 -88.418595
4    1 2020-03-01 01:52:29.430108  44.249055 -88.427641

In [46]:
hl_df = home_location(tdf)
hl_df.head(5)

100%|| 10000/10000 [00:06<00:00, 1530.08it/s]

   uid        lat        lng
0    1  44.249624 -88.409313
1    2  44.265812 -88.481455
2    3  45.304181 -89.677755
3    4  44.289490 -88.547518
4    5  42.737984 -87.795110

In [47]:
hl_df.to_csv("Home_location_4Week_10000_WI_realpop.csv")